<!DOCTYPE html>
<html>
	<head>
		<title>Demographical United states Statistics Tool (DUST)</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
		<style type="text/css">
			select {
				display: inline;

			}
		</style>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/logic.js"></script>
	</head>
	<body>
		<h3>Demographical United states Statistics Tool (DUST)</h3>
		<section id="main">
			<!-- The waiting message -->
			<div id="init_splash">
				<p>
					Please wait a moment while data is being prepared for you :=)
				</p>
			</div>

			<!-- regular view -->
			<div id="normal_view">
				<p>Select a feature</p>
				<p>
					<select id="features_selector" onchange="changeEventHandler(event);"></select>
				</p>
				<table class="striped">
					<thead>
						<tr id="table_header"></tr>
					</thead>

					<tbody>
					</tbody>
				</table>
			</div>
		</section>
	</body>
</html>